<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, size: '14x3' %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author, value: params[:author] %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= check_box_tag(:multi_line) %>
    <%= label_tag(:multi_line,  "Add with multi line") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
