<!DOCTYPE html>
<html>
<head>
  <title>IdeaBlender</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">IdeaBlender</a>
      <div class="nav-collapse collapse navbar-inverse-collapse">
        <ul class="nav">
          <%= icon_activable_link_to('li', 'home', 'Home', ideas_path) %>
          <%= icon_activable_link_to('li', 'lightbulb', 'New Idea', new_idea_path) %>
          <%= icon_activable_link_to('li', 'random', 'Random', idea_path(Idea.first, mode: 'random')) %>
        </ul>
        <form class="navbar-search pull-right" method="get" action="<%= ideas_url %>">
          <input name="keyword" type="text" class="search-query span2" placeholder="Any idea?" value="<%= params[:keyword] if params[:keyword] %>">
        </form>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
<div class="container">
  <%= yield %>
  <br />
  <br />
  <br />
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="footer-text">
      made with <i class="icon-heart"></i> in bangkok | awesome ideas by  <i class="icon-group"></i> ploy, prang, looknam, wut, t0n | coding by <i class="icon-github"></i> goodfeel (t0n) -  powered by ruby on rails.
    </div>
  </div>
</div>
</body>
</html>
